@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap");

:root {
  --borderRadius: 10px;
}

body {
  font-family: "Roboto", sans-serif !important;
}

table {
  border-collapse: collapse;

  font-size: 0.9em;
  min-width: 400px;
  border-radius: var(--borderRadius);
  box-shadow: 3px 3px 7px lightgray;
}

th:first-of-type {
  border-top-left-radius: var(--borderRadius);
}
th:last-of-type {
  border-top-right-radius: var(--borderRadius);
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: var(--borderRadius);
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: var(--borderRadius);
}

tr:last-of-type {
  border: none;
}

table th {
  background-color: black;
  color: white;
}

table th,
table td {
  padding: 12px 20px;
  text-align: center;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

th .menu {
  visibility: hidden;
}

th:hover .menu {
  visibility: visible;
}
